
geocoder/__pycache__/
.coverage
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml
pylint.txt
toy.py
tox.ini
violations.pyflakes.txt
cover/
build/
docs/_build
geocoder.egg-info/
*.pyc
*.swp
*.egg
*.pyo
env/

.workon

t.py

t2.py
dist
